#form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#form select{
    padding: 5px;
    border-radius: 5px;
}
#form button{
    border: none;
    color:white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}
.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-top: 50px;
}
.weather li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:antiquewhite;
    
    border-radius: 10px;
}